go 1.25.3

use (
	./apps/services/academic-service
	./apps/services/api-gateway
	./apps/services/auth-service
	./apps/services/file-service
	./apps/services/notification-service
	./apps/services/reporting-service
	./proto/gen
)
